<div>
    <div class="grid md:grid-cols-12 grid-cols-1 bg-white border-r">

        <div class="col-span-12 bg-[#014daa] p-1 text-white m-1">بيانات الحالة</div>
        <div class="col-span-12  p-1">
            <fieldset class="w-full p-1 ">
                <legend class="p-1 bg-[#3F83F8] text-white text-sm ">بيانات اساسية</legend>
                <div class="grid md:grid-cols-10 grid-cols-12 text-xs gap-4 ">
                    <div class="col-span-3 p-2 p-2 mainInfo">
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center justify-start">
                            <label class="md:col-span-3 text-xs" for="full_name">تاريخ السجل </label>
                            <!-- <input type="text" name="full_name" id="full_name"
                                    class="md:col-span-8  h-8 border-gray-400 border mt-1  px-41  bg-gray-60"
                                    value="" /> -->
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.record_history | date }}
                            </div>
                        </div>
                       
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center">
                            <label class="md:col-span-3 " for="full_name"> الاسم رباعي</label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.name}}
                            </div>
                        </div>
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center">
                            <label class="md:col-span-3 " for="full_name">الجنس </label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.gender}}
                            </div>
                        </div>
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center">
                            <label class="md:col-span-3 " for="full_name"> تاريخ الميلاد</label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.birth_date | date }}
                            </div>

                        </div>
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center">
                            <label class="md:col-span-3 " for="full_name"> الجنسية</label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.nationality}}
                            </div>
                        </div>
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center">
                            <label class="md:col-span-3 " for="full_name"> السن</label>
                            <div class="md:col-span-8 border-gray-400 border  mt-1  p-1 ">
                                <!-- {{age}} -->
                                <!-- <input type="number" formControlName="age" name="full_name" id="full_name"
                                        class="w-full  h-8 border-gray-400 border mt-1  p-2   bg-gray-60" value="" />
                                    @if(beneficiaryForm.get('age')?.invalid && (submitted ||
                                    beneficiaryForm.get('age')?.touched))
                                    {
                                    <div class="w-full bg-red-100  p-1">
                                         السن مطلوب
                                    </div>
                                    } -->
                            </div>
                        </div>
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center " >
                            <label class="md:col-span-3 " for="full_name"> اثبات الشخصية</label>
                            <!-- <div class="md:col-span-8 "> -->
                            <!-- <p-dropdown formControlName="type" class="md:col-span-3 mt-1" [options]="identityType"
                                    optionValue="value" optionLabel="value" [showClear]="false"
                                    placeholder=""></p-dropdown>
                                <input type="text" formControlName="value"
                                    class="md:col-span-5  h-6 border-gray-300 border mt-1  p-2   bg-gray-60">
                                <div class="md:col-span-3"></div>
                                @if(beneficiaryForm.get('identity.value')?.invalid && (submitted ||
                                beneficiaryForm.get('identity.value')?.touched))
                                {
                                <div class="md:col-span-8 bg-red-100 p-1">
                                    الهوية مطلوبة
                                </div>
                                } -->
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.identity?.type}}  {{beneficiary.identity?.value}}
                            </div>
                        </div>
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center ">
                            <label class="md:col-span-3  " for="full_name"> الحالة الاجتماعية </label>

                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.type}}
                            </div>
                        </div>
                    </div>
                    <div class="col-span-2  text-xs ">

                        <div class="grid md:grid-cols-12 grid-cols-1 flex items-center ">
                            <label class="md:col-span-5 " for="full_name"> فئة المنتفع </label>
                            <div class="md:col-span-7 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.type}}
                            </div>
                        </div>
                        <div
                            class="grid md:grid-cols-12 mt-2 grid-cols-1 overflow-y-scroll max-h-60 border border-gray-300  scroll-container">
                            <div class="text-center py-1  md:col-span-12 ">
                                المعالين
                            </div>
                            <div class="bg-gray-200 h-8 flex md:col-span-12 p-1 mt-1 ">
                                <div class="w-8/12 text-center flex items-center">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="#014daa" class="w-6 h-6"
                                            (click)="addDependent()">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M12 4.5v15m7.5-7.5h-15" />
                                        </svg> -->
                                    صلة القرابة
                                </div>
                                <div class="w-4/12 text-center">العدد</div>
                            </div>
                            @for (item of beneficiary.dependents; track $index) {
                            <div class=" h-8 flex md:col-span-12 p-1 ">
                                <div class=" flex items-center w-full">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="red" class="w-6 h-6 ">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg> -->
                                    <div class="w-9/12">{{item.kinship}}</div>
                                    <div class="w-3/12">{{item.numbers}}</div>
                                    <!-- <p-dropdown dir="rtl"  [options]="Kinship" appendTo="body"
                                            optionValue="value" optionLabel="value" [showClear]="false"
                                            formControlName="kinship" placeholder="اختر صلة القرابة"></p-dropdown>
                                        <input formControlName="numbers" type="number"
                                            class="w-3/12 p-0 border border-gray-300 text-center"> -->

                                </div>
                            </div>
                            }
                        </div>
                    </div>

                    <div class="col-span-3 p-2 p-2 ">
                        <div class="grid md:grid-cols-12 grid-cols-1 flex items-center justify-start">
                            <label class="md:col-span-3 " for="full_name"> المستوي العلمي </label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2">
                                {{beneficiary.educational_level}}
                            </div>
                        </div>
                        <div class="grid md:grid-cols-12 grid-cols-1 flex items-center">
                            <label class="md:col-span-3 " for="full_name">شهادات علمية </label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2">
                                {{beneficiary.scientific_certificates}}
                            </div>
                        </div>
                        <div class="grid md:grid-cols-12 grid-cols-1 flex items-center">
                            <label class="md:col-span-3 " for="full_name"> المهنة/الوظيفة</label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2">
                                {{beneficiary.job}}
                            </div>
                        </div>
                        <div class="grid md:grid-cols-12 grid-cols-1 flex items-center">
                            <label class="md:col-span-3 " for="full_name">جهة العمل </label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2">
                                {{beneficiary.employer}}
                            </div>
                        </div>
                        <div class="grid md:grid-cols-12 grid-cols-1 flex items-center mt-1">
                            <label class="md:col-span-3 " for="full_name"> الدخل الشهري </label>
                            <div class="flex items-center col-span-8 ">
                                <span class="w-2/12 text-center bg-green-400 text-white">من</span>

                                <div class="w-4/12 p-0 border bg-white border-gray-400 text-center">
                                    {{beneficiary.monthly_income_from}}
                                </div>
                                <span class="w-2/12 text-center bg-green-400 text-white">الي</span>
                                <div class="w-4/12 p-0 border border-gray-400 text-center">
                                    {{beneficiary.monthly_income_to}}
                                </div>
                            </div>


                        </div>
                        <div class="grid md:grid-cols-12 grid-cols-1 flex items-center">
                            <label class="md:col-span-3 " for="full_name"> طبيعة السكن</label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.housing_type}}
                            </div>
                        </div>
                        <div class="grid md:grid-cols-12 grid-cols-1 flex items-center ">
                            <div class="col-span-11 border  border-gray-300 p-1 mt-2">
                                <div class="card flex justify-content-center">
                                    <div class="flex flex-wrap gap-3">
                                        <div class="flex align-items-center">
                                            <label for="ingredient1" class="ml-2">
                                                {{beneficiary.mobility_status}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-2 ">
                        <div class="p-8 pt-2 fileUploadContainer w-full  flex flex-col items-center">
                            @if (!beneficiary.Image) {
                            <img class="m-auto" src="../../../assets/imags/profil.jpg">
                            }@else {
                            <img class="m-auto" [src]="beneficiary.Image">
                            }

                        </div>

                        <div class="p-4 pt-2 fileUploadContainer flex">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m0-3-3-3m0 0-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
                            </svg>
                            اوراق ثبوتية وشهادات
                            <!-- </button> -->
                        </div>
                        <ul>
                            @for (file of beneficiary.attachments; track $index) {
                            <!-- {{file?.type}} -->
                            <li class="flex flex-col items-center border-b p-1 ">
                                @if(file?.type=="certificate"){
                                @for(file of convertToArray(file.urls);track $index){

                                <div class="m-2  border-b-2 bg-blue-100 p-2">
                                    <a [href]="file.url" target="_blank" rel="noopener noreferrer">
                                         {{decodeFileName(file.originalName)  }} <!-- Display last 10 characters of the URL -->
                                    </a>
                                </div>
                                }
                                }
                            </li>
                            }
                        </ul>

                    </div>
                </div>
            </fieldset>
            <fieldset class="w-full ">
                <legend class="p-1 bg-[#3F83F8] text-white text-sm ">بيانات الاتصال</legend>
                <div class="grid md:grid-cols-10 grid-cols-12 text-xs gap-4">
                    <div class="col-span-3 p-2 p-2 ">
                        @for(number of beneficiary.contact_numbers;track $index){
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center mt-1">
                            <label class="md:col-span-3 " for="full_name">جوال {{$index+1}} </label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{number.number}}
                            </div>

                        </div>
                        }
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center">
                            <label class="md:col-span-3 " for="full_name">بريد الكتروني </label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.email}}
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-span-4 bg-red-200"> -->
                    <div class="col-span-5 p-2 px-1 ">
                        <div class="grid md:grid-cols-12 grid-cols-1 flex items-center">
                            <label class="md:col-span-2 " for="full_name"> عنوان المنزل </label>
                            <div class="md:col-span-9 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.email}}
                            </div>
                        </div>
                        <div class="grid md:grid-cols-12 grid-cols-1 flex items-center justify-start">
                            <label class="md:col-span-2 " for="full_name"> عنوان العمل </label>
                            <div class="md:col-span-9 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.work_address}}
                            </div>
                        </div>
                        <div class="">
                            <div class="grid md:grid-cols-12 grid-cols-1 flex items-center">
                                <label class="md:col-span-2 " for="full_name"> عنوان شخص قريب</label>
                                <div class="md:col-span-9 border-gray-400 border mt-1  p-2 ">
                                    {{beneficiary.close_person?.address}}
                                </div>
                            </div>
                            <div class="grid md:grid-cols-12 grid-cols-1 flex items-center">
                                <label class="md:col-span-2 " for="full_name"> اسم شخص قريب </label>
                                <div class="md:col-span-9 border-gray-400 border mt-1  p-2 ">
                                    {{beneficiary.close_person?.name}}
                                </div>
                            </div>

                            <div class="grid md:grid-cols-12 grid-cols-1 flex items-center">
                                <label class="md:col-span-2 " for="full_name"> جوال شخص قريب</label>
                                <div class="md:col-span-9 border-gray-400 border mt-1  p-2 ">
                                    {{beneficiary.close_person?.mobile}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <div class="col-span-2 ">
                        <div class="p-8 pt-2 fileUploadContainer">
                            <img class="m-auto w-6/12" src='../../../assets/imags/images.png'>

                        </div>
                        <ul>
                            @for (file of beneficiary.attachments; track $index) {
                            <!-- {{file?.type}} -->
                            <li class="flex flex-col items-center border-b p-1 ">
                                @if(file?.type=="contact"){
                                @for(file of convertToArray(file.urls);track $index){

                                <div class="m-2  border-b-2 bg-blue-100 p-2">
                                    <a [href]="file.url" target="_blank" rel="noopener noreferrer">
                                        {{decodeFileName(file.originalName) }} <!-- Display last 10 characters of the URL -->
                                    </a>
                                </div>
                                }
                                }
                            </li>
                            }
                        </ul>

                    </div>
                </div>
            </fieldset>
            <fieldset class="w-full p-1 ">
                <legend class="p-1 bg-[#3F83F8] text-white text-sm ">بيانات المرض</legend>
                <div class="grid md:grid-cols-10 grid-cols-12 text-xs gap-4">
                    <div class="col-span-3 p-2 p-2 ">
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center justify-start ">
                            <label class="md:col-span-3 " for="full_name"> اسم المرض</label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.illnesse?.name}}
                            </div>
                        </div>
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center mt-1">
                            <label class="md:col-span-3 " for="full_name"> تاريخ الاصابة</label>

                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.illnesse?.injury_history | date }}
                            </div>

                        </div>
                        <div class="grid md:grid-cols-11 grid-cols-1 flex items-center">
                            <label class="md:col-span-3 " for="full_name"> طبيعة المرض </label>
                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.illnesse?.illness_nature}}
                            </div>
                        </div>
                        <div class="grid md:grid-cols-11 grid-cols-1 flex ">
                            <label class="md:col-span-3 " for="full_name">اخر تشخيص </label>

                            <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                {{beneficiary.illnesse?.latest_diagnosis}}
                            </div>
                        </div>
                    </div>

                    <div class="col-span-5 text-xs  p-2  " >
                       
                        <div class="grid grid-cols-12 ">
                            @for (service of beneficiary.beneficiary_sevices; track $index) {
                            <div class="col-span-12 mb-2 border border-gray-400 p-2 mx-1 w-full">
                                <div class="mb-3">

                                    <div class="md:col-span-8 border-gray-400 border mt-1  p-2 ">
                                        {{service.service?.name}}
                                    </div>
                                </div>
                                <fieldset class="p-1 pt-3">
                                    <legend>الخدمة محددة بوقت: </legend>
                                    <div class="grid gap-2 mb-2 md:grid-cols-2 ">
                                        <div class="flex items-center flex-wrap">
                                            <label
                                                class="block w-4/12  test-xs font-medium text-gray-900 dark:text-white">
                                                من تاريخ</label>
                                            <div class="w-8/12 border-gray-400 border mt-1  p-2 ">
                                                {{service.start_date | date }}
                                            </div>
                                        </div>
                                        <div class="flex items-center flex-wrap">
                                            <label
                                                class="block mb-2 w-4/12   test-xs font-medium text-gray-900 dark:text-white">
                                                الي تاريخ</label>
                                            <div class="w-8/12 border-gray-400 border mt-1  p-2 ">
                                                {{service.end_date | date }}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="p-1 pt-3 mt-3">
                                    <legend>الخدمة متكررة: </legend>
                                    <div class="card flex justify-content-center">
                                        <div class="flex flex-wrap gap-3 " formArrayName="repeat_days">
                                            @for ( day of convertToArray(service.repeat_days); track day;let dayIndex=$index) {
                                            <div class="flex items-center">
                                                <div class=" bg-blue-400 border mt-1  p-2 mx-1.5 ">
                                                
                                                </div>
                                                <label>
                                               
                                                    {{day}}
                                                </label>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            }
                        </div>
                    </div>
                    <div class="col-span-2 ">
                        <div class="col-span-2 ">
                            <div class="p-8 pt-2 fileUploadContainer">
                                <img class="m-auto w-6/12" src='../../../assets/imags/images.png'>
                               
                            </div>
                        <ul>
                            @for (file of beneficiary.attachments; track $index) {
                            <!-- {{file?.type}} -->
                            <li class="flex flex-col items-center border-b p-1 ">
                                @if(file?.type=="illness"){
                                @for(file of convertToArray(file.urls);track $index){
                        
                                <div class="m-2  bg-blue-100 p-2">
                                    <a [href]="file.url" target="_blank" rel="noopener noreferrer">
                                        {{decodeFileName(file.originalName) }} <!-- Display last 10 characters of the URL -->
                                    </a>
                                </div>
                                }
                                }
                            </li>
                            }
                        </ul>
                          
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
</div>
