<p-accordion [activeIndex]="accordioneIndex">
    <p-accordionTab header="اضافة مؤشر جديد">
        <div class="grid grid-cols-12 mx-1.5">
            <div class="col-span-12 flex p-1 bg-blue-200 "><svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 640"
                    enable-background="new 0 0 512 512" xml:space="preserve" width="20px" height="30px">
                    <g>
                        <path
                            d="M75.4,125h110.2c7.8,0,14.1-6.3,14.1-14.1c0-7.8-6.3-14.1-14.1-14.1H75.4c-7.8,0-14.1,6.3-14.1,14.1   C61.3,118.7,67.6,125,75.4,125z" />
                        <path
                            d="M75.4,203.7h222.1c7.8,0,14.1-6.3,14.1-14.1c0-7.8-6.3-14.1-14.1-14.1H75.4c-7.8,0-14.1,6.3-14.1,14.1   C61.3,197.4,67.6,203.7,75.4,203.7z" />
                        <path
                            d="M75.4,282.4h222.1c7.8,0,14.1-6.3,14.1-14.1c0-7.8-6.3-14.1-14.1-14.1H75.4c-7.8,0-14.1,6.3-14.1,14.1   C61.3,276.1,67.6,282.4,75.4,282.4z" />
                        <path
                            d="M182,332.8H75.4c-7.8,0-14.1,6.3-14.1,14.1c0,7.8,6.3,14.1,14.1,14.1H182c7.8,0,14.1-6.3,14.1-14.1   C196.1,339.2,189.8,332.8,182,332.8z" />
                        <path
                            d="M148.5,411.5H75.4c-7.8,0-14.1,6.3-14.1,14.1c0,7.8,6.3,14.1,14.1,14.1h73.1c7.8,0,14.1-6.3,14.1-14.1   C162.7,417.8,156.3,411.5,148.5,411.5z" />
                        <path
                            d="M494.7,177.7c-17-17.4-45.4-22-65.3-3.4l-58.5,58.5V117.3c0-3.7-1.5-7.3-4.1-10L265.6,6.1c-2.6-2.6-6.2-4.1-10-4.1H44.4   C21,2,2,21,2,44.3v423.3C2,491,21,510,44.4,510h284.2c23.3,0,42.3-19,42.3-42.3v-97.5L498.1,243   C515.2,225.9,513.7,196.6,494.7,177.7z M322.7,103.2h-53l0-53L322.7,103.2z M342.7,467.7c0,7.8-6.3,14.1-14.1,14.1H44.4   c-7.8,0-14.1-6.3-14.1-14.1V44.3c0-7.8,6.3-14.1,14.1-14.1h197.2l0,87c0,7.8,6.3,14.1,14.1,14.1h87v129.8L219.5,384.3   c-1.9,1.9-3.2,4.3-3.8,6.9l-13.9,62.6c-1,4.7,0.4,9.6,3.8,13c4,3.8,8.4,4.6,13,3.8l62.6-13.9c2.6-0.6,5-1.9,6.9-3.8l54.5-54.5   V467.7z M478.1,223.1l-207,207l-36.9,8.2l8.2-36.9l207-207c6.5-6.2,17.4-4.3,25.4,3.4C482.6,205.5,484.1,217.1,478.1,223.1z" />
                    </g>
                </svg>
                <h6 class="mx-1">مؤشرات الأداء </h6>
            </div>
            <form class="col-span-6 bg-white" [formGroup]="addIndicatorForm">
                <div class=" grid grid-cols-12 gap-4 p-8">
                    <label class="col-span-2 text-sm mt-2">اسم المؤشر</label>
                    <input type="text" placeholder="ادخل اسم المؤشر" formControlName="title"
                        class="col-span-10 mb-5 bg-white border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <label class="col-span-2 text-sm mt-2">الوصف</label>
                    <textarea id="message" rows="4" formControlName="description"
                        class="col-span-10 block p-2.5 w-full text-sm text-gray-900 bg-white  border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="ادخل وصف المؤشر"></textarea>
                    <div class="bg-white flex justify-end col-span-12 px-1  p-2">
                        @if (!updatedMood) {
                        <button class="bg-blue-800 rounded-lg px-8 py-1 text-white" (click)="addservice()">حفظ</button>
                        }@else if (updatedMood) {
                        <button class="bg-blue-800 rounded-lg px-8 py-1 text-white"
                            (click)="updateService()">حفظ</button>
                        }
                    </div>
                </div>
            </form>
            <div class="col-span-6  p-2 bg-white">
                <img class="h-56 rounded-md m-auto border border-gray-200" src="../../../assets/imags/2222.webp">

            </div>
        </div>
    </p-accordionTab>
</p-accordion>
<div class="grid grid-cols-12 mx-1.5">
    <div class="card col-span-12 mt-8">
        <table class="border-collapse border border-slate-400 w-full bg-white text-sm">
            <thead class="bg-blue-500 text-white">
                <tr class="p-1">
                    <th class="w-4/12 border border-slate-300 p-1 ...">عنوان المؤشر</th>
                    <th class="w-6/12 border border-slate-300 p-1 ...">الوصف </th>
                    <th class="w-2/12 border border-slate-300 p-1">التفاعلات</th>
                </tr>
            </thead>
            <tbody>
                @for (item of indicators; track $index) {
                <tr class="p-2">
                    <td class=" p-2 border border-slate-300 p-1  ...">{{item.title}}</td>
                    <td class=" p-2 border border-slate-300 p-1  ...">{{item.description}} </td>
                    <td class="flex justify-around	p-2 border border-slate-300">
                        <svg (click)="getUdatedService(item)" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#1E429F" class="size-6 mx-1 cursor-pointer">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>
                        <svg (click)="confirmDeleteService($event,item.id)" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red"
                            class="size-6 mx-1 cursor-pointer">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>