.subMenu{
font-size: 0.8rem; /* 12px */
line-height: 1.2rem; /* 16px */
}
  .svg {
        min-width: 25px; /* Adjust as needed */
        min-height: 35px; /* Adjust as needed */
    }
    .svgArrow{
         min-width: 15px; /* Adjust as needed */
        min-height: 15px; /* Adjust as needed */ 
    }
  //   .sideBar{
  // position: fixed;
  // top: 10%;
  // left: 0;
  // height: auto; /* Full viewport height */
  // width: 100%;
  // overflow-y: scroll;
  //   }
  //   .sidbarItms{
  //     overflow-y: scroll;
  //   }
    