fieldset {
  border: 1px solid rgb(169, 168, 168); 
//   border-top-color: black; 
  box-sizing: border-box; 
  grid-area: 1 / 1; /* first row, first column */
//   padding: 20px; 
  width: inherit; 
}
::ng-deep .p-dropdown {
    background: #ffffff;
    border: 1px solid #4a4b4d;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 0px !important;
    width: 100%;
    padding: 0px !important;
    margin-top: 1px;
}

:host ::ng-deep .p-inputtext{
    padding: .20rem;
}
/* Style the container div */
    .scroll-container {
        // width: 3px;
        // height: 200px;
        overflow-y: auto; /* Ensure vertical scrollbar appears when needed */
        scrollbar-width: thin; /* Set the width of the scrollbar */
    }

    /* Style the scrollbar track */
    .scroll-container::-webkit-scrollbar {
        width: 2px;
    }

    /* Style the scrollbar thumb */
    .scroll-container::-webkit-scrollbar-thumb {
        background-color: #c4bfbf; /* Color of the scrollbar thumb */
        border-radius: 10px !important; /* Rounded corners */
    }

    /* Style the scrollbar track when hovering over it */
    .scroll-container::-webkit-scrollbar-track:hover {
        background-color: #d3d6d9; /* Change background color on hover */
    }
    ::ng-deeep .p-fileupload-buttonbar{
        display: flex !important;
    }
   
:host ::ng-deep .p-dropdown {
    // background: #f8f085;
    border: 1px solid #d1d5db;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
    width: 100%;
    border-radius: 0px;
    padding-top:3px;
    padding-bottom:3px;
    font-family: arabicFont !important;
    font-weight: thin;
 
}
::ng-deep .p-dropdown-label {
    font-family: arabicFont !important;
     font-size: small;
}
::ng-deep .p-dropdown-item {
    font-family: arabicFont !important;
     font-size: small;

}
::ng-deep .p-checkbox .p-checkbox-box {
    border: 2px solid #d1d5db;
    background: #ffffff;
    width: 15px;
    height: 15px;
    color: #4b5563;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
::ng-deep .p-checkbox .p-checkbox-box .p-highlight {
    border-color: #3B82F6;
    background: #3B82F6;
}

::ng-deep .p-radiobutton .p-radiobutton-box {
    border: 2px solid #d1d5db;
    background: #ffffff;
    width: 15px;
    height: 15px;
    color: #4b5563;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
::ng-deep .p-radiobutton .p-radiobutton  .p-radiobutton-checked {
    border-color: #3B82F6 !important;
    background: #3B82F6 !important;
}
::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #3B82F6 !important;
    background: #3B82F6 !important;
}
.fileUploadContainer {
    padding: 10px;
    display: flex;
    // border: dashed 1px #979797;
    text-align: center;
    // max-height: 400px;
    //  max-width: 400px;
    justify-content: center;
position: relative;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-height: 100%;
      max-width: 100%;
    }
  
    .noImageContainet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 11px;
      button {
        font-size: 11px;
      }
    }

    .deleteButton{
        position: absolute;
        z-index: 10;
        top: -25px;
        inset-inline-end: -10px;
        opacity:50%
    }

    .fileInput {
        position: absolute;
        z-index: 9;
        opacity: 0;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
        cursor: pointer;
    }
  }
 input{
    font-size: small;
  }
  ::ng-deep .p-calendar .p-inputtext{
    // height: 1.5rem;
    padding:  0rem;
    border: 1px solid rgb(161, 160, 160);
  }
    ::ng-deep .p-calendar {
    // height: 1.5rem;
    padding:  0rem;
    // direction: ltr;
  }
  ::ng-deep .p-message .p-message-wrapper {
     padding: .2rem ; 
}
.text-area{
  font-size: .8rem !important;
}

