<h6 class="mx-1 text-center"> الخطط التنفيذية</h6>
<div class=" p-2 m-2 mx-3 bg-white Container">
    <div class="flex p-1">
        <h6>بيان الخطط التنفيذية للخطة الاستراتيجية</h6>
    </div>
    <div class="col-span-12 bg-blue-500 flex lg:mx-3 text-sm">
        <div class="lg:w-3/12 w-5/12 text-center p-1">اسم الخطة</div>
        <div class="lg:w-2/12 w-3/12 text-center p-1"> تاريخ البداية</div>
        <div class="lg:w-2/12 w-3/12 text-center  p-1"> تاريخ النهاية</div>
        <div class=" text-center  p-1"> البيان</div>
    </div>

    <div class="grid grid-cols-12 lg:px-3 ">
        <div class="col-span-12 flex bg-white m-0 p-0 ">
            <div class="lg:w-3/12 w-5/12 flex border border border-gray-200 items-center px-1">
                <svg fill="green" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 "
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45.402 45.402" xml:space="preserve">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g>
                            <path
                                d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141 c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27 c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435 c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z">
                            </path>
                        </g>
                    </g>
                </svg>
                <span class="px-1 text-sm">الخطة المرحلية2020</span>
            </div>
            <div class="lg:w-2/12 w-3/12 border border-gray-200 flex items-center justify-between text-sm px-1">
                <span>12/5/2020</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                </svg>
            </div>
            <div class="lg:w-2/12 w-3/12 border border-gray-200 flex items-center justify-between text-sm px-1">
                <span>12/5/2020</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                </svg>
            </div>
            <div class=" border border-gray-200 ">
            </div>
        </div>

    </div>

    <div class="grid grid-cols-12 px-3 Container">
        @for (item of plans; track item; let i = $index) {
        <div class=" verticalline pt-8 col-span-12 flex mx-3">
            <div class="flex  mt-3"> <!-- Container for SVG and HR -->
                <hr class="w-8 bg-black mt-1">
                <svg fill="#4285F4" width="12px" height="12px" viewBox="0 0 256 256" id="Flat"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M232,128A104,104,0,1,1,128,24,104.12041,104.12041,0,0,1,232,128Z" />
                </svg>
            </div>
            <div class="w-full">
                <p-accordion>
                    <p-accordionTab header="">
                        <ng-template pTemplate="header">
                            <div class="w-full  p-2 border-0 bg-blue-200 md:col-span-5 h-8 mt-1 px-4 bg-gray-60">
                                {{item?.plan_name}}</div>
                        </ng-template>
                        <div class="grid  gap-4 gap-y-2 z-50 text-sm grid-cols-1 lg:grid-cols-3 mb-2">
                            <div class="lg:col-span-3">
                                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-6">
                                    <div class="md:col-span-3 col-span-1  ">
                                        <div class="grid md:grid-cols-6 grid-cols-1 flex items-center">
                                            <label class="md:col-span-1 " for="full_name">الهدف الاستراتيجي </label>
                                            <div
                                                class="md:col-span-5 h-8 border-gray-300 border mt-1  px-4   bg-[#f8f085]">
                                                {{item.goal?.name}}</div>
                                        </div>
                                    </div>
                                    <div class="md:col-span-3 col-span-1  ">
                                        <div class="grid md:grid-cols-6 grid-cols-1 flex items-center">
                                            <label class="md:col-span-1 " for="full_name">الاسم </label>
                                            <div
                                                class="md:col-span-5 h-8 border-gray-300 border mt-1  px-4 py-1   bg-[#f8f085]">
                                                {{item.name}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="md:col-span-3 col-span-1  ">
                                        <div class="grid md:grid-cols-6 grid-cols-1 flex items-center">
                                            <label class="md:col-span-1 " for="full_name"> الهدف العام</label>
                                            <div
                                                class="md:col-span-5 h-8 border-gray-300 border mt-1  px-4 py-1   bg-[#f8f085]">
                                                {{item?.main_goal}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="md:col-span-3 col-span-1  ">
                                        <div class="grid md:grid-cols-6 grid-cols-1 flex items-center">
                                            <label class="md:col-span-1 " for="full_name">طبيعة النشاط </label>
                                            <div class="md:col-span-5 h-8 border-gray-300 border mt-1  px-4 py-1">
                                                {{item.activity?.name}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="md:col-span-3 col-span-1  ">
                                        <div class="grid md:grid-cols-6 grid-cols-1 flex items-center">
                                            <label class="md:col-span-1 " for="full_name">المستفيد </label>
                                            <div class="md:col-span-5 h-8 border-gray-300 border mt-1  px-4 py-1">
                                                {{item.beneficiary?.title}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="md:col-span-3 col-span-1  ">
                                        <div class="grid md:grid-cols-6 grid-cols-1 flex items-center">
                                            <label class="md:col-span-1 " for="full_name"> المتطلبات</label>
                                            <div class="md:col-span-5 h-8 border-gray-300 border mt-1  px-4 py-1">
                                                {{item.Requirements}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="md:col-span-3 col-span-1  ">
                                        <div class="grid md:grid-cols-6 grid-cols-1 flex items-center">
                                            <label class="md:col-span-1 " for="full_name"> الاثرالتنموي
                                                المتوقع</label>
                                            <div class="md:col-span-5 h-8 border-gray-300 border mt-1  px-4 py-1">
                                                {{item?.expected_impact}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="md:col-span-3 col-span-1  ">
                                        <div class="grid md:grid-cols-6 grid-cols-1 flex items-center">
                                            <label class="md:col-span-1 " for="full_name"> التكلفة التقديرية</label>
                                            <div class="md:col-span-5 h-8 border-gray-300 border mt-1  px-4 py-1">
                                                {{item?.cost}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="md:col-span-6 col-span-1  ">
                                        <div class="grid md:grid-cols-12 grid-cols-1 flex items-center">
                                            <label class="md:col-span-1 " for="full_name"> وصف المشروع</label>
                                            <div class="md:col-span-11 h-8 border-gray-300 border mt-1  px-4 py-1">
                                                {{item?.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="overflow-x-auto overflow-y-auto">
                            <table class="table-auto border-collapse border border-slate-400 w-full bg-white text-sm">
                                <thead class="bg-[#febd59] text-white">
                                    <tr class="p-1 whitespace-nowrap">
                                        <th><svg fill="green" version="1.1" id="Capa_1"
                                                xmlns="http://www.w3.org/2000/svg" class="w-4 h-4"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45.402 45.402"
                                                xml:space="preserve">
                                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                    stroke-linejoin="round"></g>
                                                <g id="SVGRepo_iconCarrier">
                                                    <g>
                                                        <path
                                                            d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141 c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27 c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435 c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg></th>
                                        <th class="border border-slate-300 p-1  flex items-center ...">
                                            <span>الادارة المسؤلة</span>
                                            <svg fill="green" version="1.1" id="Capa_1"
                                                xmlns="http://www.w3.org/2000/svg" class="w-4 h-4"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45.402 45.402"
                                                xml:space="preserve">
                                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                    stroke-linejoin="round"></g>
                                                <g id="SVGRepo_iconCarrier">
                                                    <g>
                                                        <path
                                                            d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141 c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27 c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435 c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </th>
                                        <th class="border border-slate-300 p-1 px-4 text-xs ..."> الموظف المسؤل</th>
                                        <th class="border border-slate-300 p-1  px-4 ..."> من تاريخ</th>
                                        <th class="border border-slate-300 p-1  px-4   ..."> حتي تاريخ</th>
                                        <th class="border border-slate-300 py-1 flex items-center ">
                                            <span class="px-1"> اسم المؤشر</span>
                                            <svg fill="green" version="1.1" id="Capa_1"
                                                xmlns="http://www.w3.org/2000/svg" class="w-4 h-4"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45.402 45.402"
                                                xml:space="preserve">
                                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                    stroke-linejoin="round"></g>
                                                <g id="SVGRepo_iconCarrier">
                                                    <g>
                                                        <path
                                                            d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141 c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27 c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435 c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </th>
                                        <th class="border border-slate-300 p-1 ...">عدد\قيمة </th>
                                        <th class="border border-slate-300 py-1 flex items-center ">
                                            <div class="flex items-center">
                                                <span class="px-1"> وسيلة التقييم </span>
                                                <svg fill="green" version="1.1" id="Capa_1"
                                                    xmlns="http://www.w3.org/2000/svg" class="w-4 h-4"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    viewBox="0 0 45.402 45.402" xml:space="preserve">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                        stroke-linejoin="round"></g>
                                                    <g id="SVGRepo_iconCarrier">
                                                        <g>
                                                            <path
                                                                d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141 c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27 c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435 c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>
                                        </th>
                                        <th class="border border-slate-300 ">
                                            <div class="flex items-center">
                                                <span class="px-1"> الاجراء</span>
                                                <svg fill="green" version="1.1" id="Capa_1"
                                                    xmlns="http://www.w3.org/2000/svg" class="w-4 h-4"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    viewBox="0 0 45.402 45.402" xml:space="preserve">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                        stroke-linejoin="round"></g>
                                                    <g id="SVGRepo_iconCarrier">
                                                        <g>
                                                            <path
                                                                d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141 c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27 c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435 c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>
                                        </th>
                                        <th class="border border-slate-300 p-1 px-5 ">التاريخ </th>
                                        <th class="border border-slate-300 p-1 px-3 ">وصف الاجراء </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (item of plans[i]?.missions; track item; let j = $index) {
                                    <tr class="p-1">
                                        <td></td>
                                        <td class=" border border-slate-300 ">
                                            {{item.administration?.name}}
                                        </td>
                                        <td class="  border border-slate-300 ...">
                                            {{item.employee?.name}}
                                        </td>
                                        <td class="  border border-slate-300  ...">
                                            {{item?.start_date}}
                                        </td>
                                        <td class="  border border-slate-300  ...">
                                            {{item?.end_date}}
                                        </td>
                                        <td class="  border border-slate-300 ...">
                                            {{item?.name}}
                                        </td>
                                        <td class=" px-2 border border-slate-300 ...">
                                            {{item?.number_value}}
                                        </td>
                                        <td class=" px-2 border border-slate-300 ...">
                                            {{item?.evaluation_method}}
                                        </td>
                                        <td class=" px-2 border border-slate-300 ...">
                                            {{item?.procedure}}
                                        </td>
                                        <td class=" border border-slate-300 ...">
                                            {{item?.procedure_date}}
                                        </td>
                                        <td class=" px-2 border border-slate-300 ..."></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
        }

    </div>
</div>

<!-- <div class="w-12/12 mx-1 bg-white mt-8 p-3 justify-end flex">
    <button class="bg-[#014daa] rounded-lg px-3 text-white py-2 mx-1">السابق</button>
    <button class="bg-[#014daa] rounded-lg px-3 text-white py-2 mx-1 ">حفظ </button>
    <button class="bg-[#014daa] rounded-lg px-3 text-white py-2 mx-1">التالي</button>
</div> -->

<!-- {{strategicPlanForm.value| json}} -->