<div class="flex  items-center justify-center h-screen" dir="rtl">
    <div class=" grid lg:grid-cols-12 grid-cols-6">
        <div class="col-span-12 bg-white rounded shadow-lg p-8  md:max-w-sm ">
            <span class="block w-full text-xl uppercase font-bold mb-4 text-center text-[#1E429F]"> اتقان</span>
            <span class="block w-full text-xl uppercase font-semibold mb-4 text-center"> اعادة تعيين كلمة المرور
            </span>
            @if (backError) {
            <div class="p-1 border border-red-500 bg-red-100 text-center ">
                {{backError}}
            </div>
            }
            <form class="mb-4" action="/" method="post">
                @if (!isVerfiyOtp) {
                <span class="text-sm ">(تنتهى صلاحية الكود خلال 5 دقائق)</span>
                <div class="mb-1 md:w-full">
                    <input [(ngModel)]="otp" class="w-full border rounded p-2 outline-none focus:shadow-outline"
                        type="text" name="test" id="otp" placeholder="ادخل  الكود ">
                    <button class="w-full text-end">
                        <a class="text-blue-800  text-sm w-full " (click)="reSendOtp()">اعادة ارسال
                            الكود
                        </a>
                    </button>

                </div>

                <button (click)="verfiyOtp()"
                    class=" bg-[#1E429F] mt-2 hover:bg-blue-500 w-full text-white uppercase text-sm font-semibold px-4 py-2 rounded">
                    تاكيد الكود</button>
                }@else if (isVerfiyOtp) {
                <div class="mb-1 md:w-full">
                    <input [(ngModel)]="password" class="w-full border rounded p-2 outline-none focus:shadow-outline"
                        type="password" name="password" id="password" placeholder="ادخل  كلمة المرور الجديدة ">
                </div>
                <div class="mb-6 md:w-full">
                    <input [(ngModel)]="confirmPassword"
                        class="w-full border rounded p-2 outline-none focus:shadow-outline" type="password"
                        name="confirmPassword" id="confirmPassword" placeholder="تاكيد كلمة المرور">
                </div>
                @if (passwordMismatch) {
                <div class="text-red-500 text-sm">
                    كلمة المرور غير متطابقة
                </div>
                }
                <button (click)="changPassword()"
                    class="bg-[#1E429F] hover:bg-blue-500 w-full text-white uppercase text-sm font-semibold px-4 py-2 rounded">تسجيل
                    الدخول</button>
                }
            </form>
            <p-toast></p-toast>
            <!-- <button (click)="show()">click</button> -->
        </div>
    </div>
</div>