<div class="flex justify-start items-center px-2 shadow border border-1 fixed top-0 left-0 w-full bg-white z-50 h-16">
    @if (authService.currentUserSig()!=null) {
    <div class="w-8/12  md:ms-10 flex justify-start items-center">
        <div style="width: 30px;height: 30px;" class="mx-1 logo">
            <img class="w-full" [src]="assossioson?.image">
        </div>
        <div class="md:font-bold text-sm font-medium "> {{assossioson?.name}}</div>

    </div>
    <div class="md:w-1/12  w-3/12 flex items-center grid grid-cols-3 mx-5">

        <div class="col-span-1 mx-1" style="width: 30px; height: 30px;">
            <img class="w-full" src="../../../assets/imags/logo11.jpg">
        </div>
        <h3 class="col-span-2 px-2 py-0 md:font-bold md:text-base text-sm font-medium">اتقان</h3>
    </div>
    <div class="md:w-2/12  w-1/12 flex justify-end items-center">
        <a routerLink="/Elabd/home"
            class="md:flex hidden  flex items-center  justify-end ps-2 text-decoration-none mx-2 ">
            <span class=" d-none d-sm-inline text-dark">{{currentUser}} </span>
            <img src="../../../assets/imags/istockphoto-1495088043-612x612.jpg" class="rounded-full m-2"
                style="width: 45px;height:45px" />
        </a>
        <p-button type="button" class=" " (click)="gfg = true"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </p-button>
    </div>
    }
</div>

<p-sidebar [(visible)]="gfg" [baseZIndex]="10000" position="right" styleClass="p-sidebar-sm" dir="rtl"
    dismissable="true">
    <app-sidbar class=""></app-sidbar>
</p-sidebar>